id,display_name,secret,platform_type,required_scopes,oauth2_redirect_uri
KAp02dgc39fx,Web UI,3Rh685sdCOU2Dw-7hGjkYw,web,,
KAp02drbjz3x,Microservices Example,eIDMSZSjdf-Sl2vjPbQC2g,web,,http://localhost:11201/microservices/restv1/auth
