# Env file template generated
# by Kadisoka IAM Server revision unknown built at unknown

# required
# type: string
IAM_DB_URL=

# type: time.Duration
# IAM_EAV_CODE_TTL_DEFAULT=

# type: string
# IAM_EAV_RESOURCES_DIR=

# type: string
# IAM_EAV_SENDER_ADDRESS=

# type: string
# IAM_EAV_SES_ACCESS_KEY_ID=

# required
# type: string
IAM_EAV_SES_REGION=

# type: string
# IAM_EAV_SES_SECRET_ACCESS_KEY=

# type: bool
# IAM_GRPC_ENABLED=

# type: int
# IAM_GRPC_SERVE_PORT=50051

# type: string
# IAM_HTTP_BASE_PATH=

# Uploaded files are given names based on their respective hash values to
# reduce duplications. This might cause privacy issue as those who have
# the same file could look up it in the server. To reduce possible risks,
# we use HMAC to generate the filename. HMAC requires a key and we use the
# same key for all files in a site. This key should be treated as a
# secret.
# 
# The value must be provided as a standard base64-encoded string.
#
# type: string
# IAM_MEDIA_FILENAME_GENERATION_KEY=

# type: string
# IAM_MEDIA_IMAGES_BASE_URL=

# type: string
# IAM_MEDIA_LOCAL_FOLDER_PATH=

# type: string
# IAM_MEDIA_LOCAL_IMAGES_SERVE_PATH=

# type: int32
# IAM_MEDIA_LOCAL_IMAGE_SERVER_HEIGHT_DEFAULT=

# type: string
# IAM_MEDIA_LOCAL_IMAGE_SERVER_PROCESSED_FILES_DIR=

# type: int32
# IAM_MEDIA_LOCAL_IMAGE_SERVER_WIDTH_DEFAULT=

# type: string
# IAM_MEDIA_LOCAL_SERVER_SERVE_PATH=

# type: int16
# IAM_MEDIA_LOCAL_SERVER_SERVE_PORT=

# required
# type: string
IAM_MEDIA_MINIO_ACCESS_KEY_ID=

# type: string
# IAM_MEDIA_MINIO_BUCKET_NAME=

# required
# type: string
IAM_MEDIA_MINIO_ENDPOINT=

# type: string
# IAM_MEDIA_MINIO_REGION=

# required
# type: string
IAM_MEDIA_MINIO_SECRET_ACCESS_KEY=

# type: bool
# IAM_MEDIA_MINIO_USE_SSL=

# type: string
# IAM_MEDIA_S3_ACCESS_KEY_ID=

# required
# type: string
IAM_MEDIA_S3_BUCKET_NAME=

# required
# type: string
IAM_MEDIA_S3_REGION=

# type: string
# IAM_MEDIA_S3_SECRET_ACCESS_KEY=

# The object storage service to use.
#
# required
# type: string
# available values:
#   local
#   minio
#   s3
IAM_MEDIA_STORE_SERVICE=

# type: time.Duration
# IAM_PNV_CODE_TTL_DEFAULT=

# The SMS delivery service to use.
#
# required
# type: string
# available values:
#   null
#   telesign
#   twilio
#   vonage
IAM_PNV_SMS_DELIVERY_SERVICE=

# type: string
# IAM_PNV_SMS_RETRIEVER_APP_HASH=

# required
# type: string
IAM_PNV_TELESIGN_API_KEY=

# required
# type: string
IAM_PNV_TELESIGN_CUSTOMER_ID=

# required
# type: string
IAM_PNV_TWILIO_ACCOUNT_SID=

# required
# type: string
IAM_PNV_TWILIO_AUTH_TOKEN=

# required
# type: string
IAM_PNV_TWILIO_SENDER=

# required
# type: string
IAM_PNV_VONAGE_API_KEY=

# required
# type: string
IAM_PNV_VONAGE_API_SECRET=

# required
# type: string
IAM_PNV_VONAGE_SENDER=

# type: string
# IAM_REALM_CONTACT_EMAIL_ADDRESS=

# type: string
# IAM_REALM_DESCRIPTION=

# type: string
# IAM_REALM_NAME=

# type: string
# IAM_REALM_PRIVACY_POLICY_URL=

# type: string
# IAM_REALM_SERVICE_NOTIFICATION_EMAILS_SENDER_ADDRESS=

# type: string
# IAM_REALM_SYSTEM_DEVELOPER_NAME=

# type: string
# IAM_REALM_SYSTEM_MAINTAINER_NAME=

# type: string
# IAM_REALM_TERMS_OF_SERVICE_URL=

# type: string
# IAM_REALM_URL=

# type: string
# IAM_REST_CANONICAL_BASE_URL=

# type: bool
# IAM_REST_ENABLED=true

# type: string
# IAM_REST_SERVE_PATH=

# type: int
# IAM_REST_SERVE_PORT=9080

# type: string
# IAM_REST_SWAGGER_UI_ASSETS_DIR=resources/swagger-ui

# type: string
# IAM_REST_V1_SERVE_PATH=

# type: bool
# IAM_WEBUI_ENABLED=true

# type: string
# IAM_WEBUI_FILES_DIR=

# type: string
# IAM_WEBUI_SERVE_PATH=

# type: int
# IAM_WEBUI_SERVE_PORT=8080

# type: string
# IAM_WEBUI_SIGNIN=
